{% extends "base.html" %}
{% load comments %}
{% load staticfiles %}

{% block title %}{{ event.name }}{% endblock %}

{% block content %}
 

        
        
        
        
        
            <div class="over">
                <div class="right-block">
                    <div class="only-desktop">
                        <div class="widget"> 
                            <script type="text/javascript" src="{% static 'js/openapi0.js' %}"></script>
                            <div id="vk_groups"></div>
                            <script type="text/javascript">
                                VK.Widgets.Group("vk_groups", {mode: 0, width: "398", height: "285", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 97689143);
                            </script>
                        </div>
                        <div class="widget">                               
                            <div id="ok_group_widget"></div>
                            <script>
                                !function (d, id, did, st) {
                                var js = d.createElement("script");
                                js.src = "https://connect.ok.ru/connect.js";
                                js.onload = js.onreadystatechange = function () {
                                if (!this.readyState || this.readyState == "loaded" || this.readyState == "complete") {
                                    if (!this.executed) {
                                        this.executed = true;
                                        setTimeout(function () {
                                            OK.CONNECT.insertGroupWidget(id,did,st);
                                        }, 0);
                                    }
                                }}
                                d.documentElement.appendChild(js);
                                }(document,"ok_group_widget","52695768170670","{width:398,height:285}");
                            </script>
                        </div>
                        <div class="widget">
                            <div id="fb-root"></div>
                                <script>(function(d, s, id) {
                                      var js, fjs = d.getElementsByTagName(s)[0];
                                      if (d.getElementById(id)) return;
                                      js = d.createElement(s); js.id = id;
                                      js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.5";
                                      fjs.parentNode.insertBefore(js, fjs);
                                }(document, 'script', 'facebook-jssdk'));</script>
                            <div class="fb-page" data-href="https://www.facebook.com/mixisport" data-width="398" data-height="285" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/mixisport"><a href="https://www.facebook.com/mixisport">MIXIsport.com</a></blockquote></div></div>                        
                        </div>
                    </div>
                </div>
                <div class="left-block">
                    {% if event.image_up %}
                    <div class="article-picture"><img src="{{ MEDIA_URL }}{{ event.image_up }}" width="1310" height="873" alt=""/></div>
                    {% endif %}
                    <h3 class="event-title">{{ event.name }}</h3>
                    <div class="location">{{ event.location }}</div>
                    <div class="time-spending">{{ event.start_time }}</div>
                    <ul class="list-inline">
                        <li>
                            <script type="text/javascript" src="{% static 'js/share.js' %}" charset="windows-1251"></script>
                            <script type="text/javascript"><!--
                                document.write(VK.Share.button(false,{type: "round", text: "Поделиться"}));
                            --></script>                                
                        </li>    
                        <li>
                            <div id="ok_shareWidget"></div>
                                <script>
                                    !function (d, id, did, st) {
                                      var js = d.createElement("script");
                                      js.src = "https://connect.ok.ru/connect.js";
                                      js.onload = js.onreadystatechange = function () {
                                      if (!this.readyState || this.readyState == "loaded" || this.readyState == "complete") {
                                        if (!this.executed) {
                                          this.executed = true;
                                          setTimeout(function () {
                                            OK.CONNECT.insertShareWidget(id,did,st);
                                          }, 0);
                                        }
                                      }};
                                      d.documentElement.appendChild(js);
                                    }(document,"ok_shareWidget",document.URL,"{width:190,height:30,st:'rounded',sz:20,ck:2}");
                                </script>                                
                        </li>
                        <li>   
                            <div id="fb-root"></div>
                            <script>(function(d, s, id) {
                              var js, fjs = d.getElementsByTagName(s)[0];
                              if (d.getElementById(id)) return;
                              js = d.createElement(s); js.id = id;
                              js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.5";
                              fjs.parentNode.insertBefore(js, fjs);
                            }(document, 'script', 'facebook-jssdk'));</script>

                            <div class="fb-share-button" data-layout="button_count" style="top: -6px;"></div>   
                        </li>
                    </ul>
                    
                    <div class="over">
                        <a class="make-bet" href="https://spadsmedia.com/aff/ln/ru/71889015">Сделать ставку (БК Леон)</a>
                    </div>
                    
                    <hr />
                    {% for pair in pairs %} {% with j=forloop.counter0 %}
                    <div class="couple-block">
                        <div class="couple-title">Кто победит:</div>
                        <div class="over">
                            <div class="couple-left">
                                {% for flag in session_flag %}
                                {% if forloop.counter0 == j and flag == 0 %}
                                <a class="give-voice" href="{% url 'pair_vote' pair.id 1 %}">Отдать голос!</a>
                                {% endif %}
                                {% endfor %}
                                <div class="progress">    
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ pair.proc_vote_1 }}%;">
                                        <p class="text-center">{{ pair.proc_vote_1 }}%</p>
                                    </div>
                                </div>
                                <div class="couple-pic"><img src="{{ MEDIA_URL }}{{ pair.fighters_1.photo }}" width="183" height="183" alt=""/></div>    
                                <div class="couple-name"><a href="{% url 'fighters' pair.fighters_1.slug %}">{{ pair.fighters_1.fullname }}</a></div>
                            </div>
                            <div class="couple-right">
                                {% for flag in session_flag %}
                                {% if forloop.counter0 == j and flag == 0 %}
                                <a class="give-voice" href="{% url 'pair_vote' pair.id 2 %}">Отдать голос!</a>
                                {% endif %}
                                {% endfor %}
                                <div class="progress">    
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ pair.proc_vote_2 }}%;">
                                        <p class="text-center">{{ pair.proc_vote_2 }}%</p>
                                    </div>
                                </div>
                                <div class="couple-pic"><img src="{{ MEDIA_URL }}/{{ pair.fighters_2.photo }}" width="183" height="183" alt=""/></div>    
                                <div class="couple-name"><a href="{% url 'fighters' pair.fighters_2.slug %}">{{ pair.fighters_2.fullname }}</a></div>
                            </div>
                            <div class="couple-vs">vs</div>
                        </div>
                        <div class="coefficient-block">
                            <div class="coefficient coefficient-left">{{ pair.betting_odds_1 }}</div>   
                            <div class="coefficient coefficient-right">{{ pair.betting_odds_2 }}</div>
                            <div class="coefficient-title">Коэффициент</div>
                        </div>
                    </div>
                    <a href="{% url 'statistics' pair.id %}" class="statistics">Статистика боя</a>
                    <div class="characteristic-block">
                        <div class="characteristic">Характеристика</div>
                        <div class="characteristic-table">
                            <table>
                                <tr>
                                    <td>{{ pair.height_1 }}</td>
                                    <td><b>Рост</b></td>
                                    <td>{{ pair.height_2 }}</td>
                                </tr>
                                <tr>
                                    <td>{{ pair.weight_1 }}</td>
                                    <td><b>Вес</b></td>
                                    <td>{{ pair.weight_2 }}</td>
                                </tr>
                                <tr>
                                    <td>{{ pair.age_1 }}</td>
                                    <td><b>Возраст</b></td>
                                    <td>{{ pair.age_2 }}</td>
                                </tr>
                                <tr>
                                    <td>{{ pair.record_1 }}</td>
                                    <td><b>Рекорд</b></td>
                                    <td>{{ pair.record_2 }}</td>
                                </tr>
                                <tr>
                                    <td>{{ pair.country_1 }}</td>
                                    <td><b>Страна</b></td>
                                    <td>{{ pair.country_2 }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    {% endwith %} {% endfor %}
                    <h3 class="title">Комментарии:</h3>
                    <div id="disqus_thread"></div>
                    <script>
                        /**
                        * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                        * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
                        */
                       
                        var disqus_config = function () {
                        this.page.url = 'http://mixisport.com/news/ben-askren-sobiraetsya-zavershit-kareru-v-skorom-v/'; // Replace PAGE_URL with your page's canonical URL variable
                        this.page.identifier = 884; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                        };
                        
                        (function() { // DON'T EDIT BELOW THIS LINE
                        var d = document, s = d.createElement('script');

                        s.src = '//mixisport.disqus.com/embed.js';

                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                        })();
                    </script>
                </div>    
            </div>
        </div>         
        
        

{% endblock %}