{% extends "base.html" %}
{% load slider %}
{% load staticfiles %}
{% load ticker %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
{% show_slider %}

        <h3 class="marquee"><span>{% show_ticker %}</span></h3>
        <div class="row content">
            <div class="col-sm-6 col-md-6 col-lg-6 news-block" style=" width: 835px;">
                <h2>События</h2><br><br>

                {% include page_template %}
                
                {% block js %}
                    {{ block.super }}
                        <script src="{% static 'endless_pagination/js/endless-pagination.js' %}"></script>
                        <script>$.endlessPaginate({paginateOnScroll: true, paginateOnScrollMargin: 20, paginateOnScrollChunkSize: 5});</script>
                {% endblock %}
                
            </div>
        </div>
        <br><br>
{% endblock %}