{% load endless %}

{% paginate event_list %}
{% for event in event_list %}                
                <div class="row news-inner">
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" >
                        <a href="{{ event.get_absolute_url }}"><h4><font color="black"><strong>{{ event.name }}</strong></font></h4></a>
                        <ul class="blog-post-info list-inline" style="margin-top: 5px;padding-top: 5px;">
                            <li>{{ event.start_time }}</li>
                            <li>{{ event.location }}</li>
                        </ul>
                    </div>
                </div>
{% endfor %}
{% show_more "Показать еще" %}

{% if archive == 0 %}
<a href="{% url 'event_list_archive' %}">Архив событий</a>
{% endif %}
 