{% load staticfiles %}
{% if galleries %}
    {% for gallery in galleries %}
    {% with gallery.sample|first as photo %}
                        <a style="margin-bottom: 25px; display: block;" href="{{ gallery.get_absolute_url }}">
                            <img src="{{ photo.get_display_url }}" width="370" height="475" alt="{{ gallery.title }}">
                            {{ gallery.title }}
                        </a>
    {% endwith %}
    {% endfor %}
	<br>
	<a style="display: block; margin-top: -30px; float: right; color: #337ab7; margin-right: 30px;" href="#">Ещё</a>
{% endif %}