{% extends "base.html" %}
{% load comments %}

{% block title %}{{ news.title }}{% endblock %}

{% block content %}


                <div class="row news-inner">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-left: 0%;padding-right: 0%;left: 13%;border-right-width: 10%;margin-bottom: 120px;">
                        <h3 style=" margin-top: 50px;"><strong>{{ news.title }}</strong></h3>
                        <ul class="blog-post-info list-inline">
                            <li>{{ news.created }}</li>
                            <li><a href="{% url 'news-category' news.category.slug %}">{{ news.category }}</a></li>
                        </ul>    
                        <ul class="list-inline">
                            <li>
                                <script type="text/javascript" src="http://vk.com/js/api/share.js?93" charset="windows-1251"></script>
                                <script type="text/javascript"><!--
                                    document.write(VK.Share.button(false,{type: "round", text: "Поделиться"}));
                                --></script>                                
                            </li>    
                            <li>
                                <div id="ok_shareWidget"></div>
                                    <script>
                                        !function (d, id, did, st) {
                                          var js = d.createElement("script");
                                          js.src = "https://connect.ok.ru/connect.js";
                                          js.onload = js.onreadystatechange = function () {
                                          if (!this.readyState || this.readyState == "loaded" || this.readyState == "complete") {
                                            if (!this.executed) {
                                              this.executed = true;
                                              setTimeout(function () {
                                                OK.CONNECT.insertShareWidget(id,did,st);
                                              }, 0);
                                            }
                                          }};
                                          d.documentElement.appendChild(js);
                                        }(document,"ok_shareWidget",document.URL,"{width:190,height:30,st:'rounded',sz:20,ck:2}");
                                    </script>                                
                            </li>
                            <li>   
                                <div id="fb-root"></div>
                                <script>(function(d, s, id) {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s); js.id = id;
                                  js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.5";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }(document, 'script', 'facebook-jssdk'));</script>

                                <div class="fb-share-button" data-layout="button_count" style="top: -6px;"></div>   
                            </li>
                            <li>
                                <script type="text/javascript" src="http://webdiscover.ru/engine/api/share/share.js" charset="windows-1251"></script>
                                <script type="text/javascript"><!--
                                    document.write(WD.Share.button(false,{id: 2, width: 100, text: "Share"}));
                                --></script>
                            </li>
                        </ul>
                        <center><img alt="" src="{{ news.image_after.medium.url }}"/></a></center>
                        <p>{{ news.content|safe }}</p>                        
                        
                        <h3 style=" margin-top: 50px;">Комментарии:</h3>
                        {% get_comment_form for news as form %}
                          <form class="form-horizontal" action="{% comment_form_target %}" method="post" role="form">
                            {% csrf_token %}
                            
                            <div class="form-group">
                              <div class="col-md-12 margin-bottom-sm-20">
                                <input type="hidden" class="form-control" id="comment-name" name="email" value="no@e.mail" />
                              </div>
                            </div>                            
                            
                            <div class="form-group">
                              <div class="col-md-12 margin-bottom-sm-20">
                                <input type="text" class="form-control" id="comment-name" name="name" placeholder="Ваше имя?" />
                              </div>
                            </div>
                            
                            <div class="form-group">
                              <div class="col-xs-12">
                                <textarea class="form-control" rows="8" id="comment-comment" name="comment" placeholder="Оставьте комментарий"></textarea>
                              </div>
                            </div>
                            
                            {{ form.content_type }}
                            {{ form.object_pk }}
                            {{ form.timestamp }}
                            {{ form.security_hash }}
                           
                            <div class="form-group">
                              <div class="col-xs-12">
                                <input type="hidden" name="next" value="{{ news.get_absolute_url }}" />
                                <input type="submit" class="btn btn-primary btn-sm" id="submit" name="submit" value="Отправить" />
                              </div>
                            </div>
                          </form>                        
                                                
                        {% get_comment_list for news as comment_list %}
                        
                        {% for comment in comment_list reversed %}
                        <ul class="blog-post-info list-inline">
                            <li style="font-size: 80%">{{ comment.submit_date }}</li>
                            <li><b>{{ comment.user_name }}</b></li>
                        </ul>
                        {{ comment.comment }}
                        
                        {% endfor %}

                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="left: 15%;margin-top: 100px;">
                        <iframe width="300" height="700" frameborder="0" scrolling="no"  src="http://click.readme.ru/informer/htm/33871.htm"></iframe>
                    </div>
                </div>
      
{% endblock %}
