{% extends "base.html" %}

{% block title %}{{ news.title }}{% endblock %}

{% block content %}

                <div class="row news-inner">
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" style="padding-left: 0%;padding-right: 0%;left: 13%;border-right-width: 10%;margin-bottom: 30px;">
                        <h3 style=" margin-top: 50px;"><strong>{{ news.title }}</strong></h3>
                        <ul class="blog-post-info list-inline">
                            <li>{{ news.created }}</li>
                            <li><a href="{% url 'news-category' news.category.slug %}">{{ news.category }}</a></li>
                        </ul>
                        <br>
                        <p>{{ news.content|safe }}</p>
                    </div>
                </div>
      
{% endblock %}
