

                <h2>События</h2>
                <div class="row statistic">
                    <div class="col-lg-12">
                        {% for pair in pairs %}
                        <div class="jum">
                            <div class="row">
                                <center><h3><a href="{{ pair.events.get_absolute_url }}">{{ pair.events }}</a></h3></center>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="progress">    
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ pair.proc_vote_1 }}%;"><p class="text-center">{{ pair.proc_vote_1 }}%</p></div>
                                    </div>
                                    <div class="img-inner center">
                                        <a href="{% url 'fighters' pair.fighters_1.slug %}"><img src="{{ MEDIA_URL }}/{{ pair.fighters_1.photo }}" style="width: 200px;height: 200px; border: 4px solid #000000;"></a>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="progress">    
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ pair.proc_vote_2 }}%;"><p class="text-center">{{ pair.proc_vote_2 }}%</p></div>
                                    </div>
                                    <div class="img-inner center">
                                        <a href="{% url 'fighters' pair.fighters_2.slug %}"><img src="{{ MEDIA_URL }}/{{ pair.fighters_2.photo }}" style="width: 200px;height: 200px; border: 4px solid #000000;"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <span class="result-inner left-result">{{ pair.fighters_1 }}</span>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 coefficient">
                                    <span></span>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <span class="result-inner right-result">{{ pair.fighters_2 }}</span>
                                </div>
                            </div>
                        </div>
                        <a href="{{ pair.events.get_absolute_url }}" class="pull-right more-info">Подробнее...</a>
                        <br><br>
                        {% endfor %} 
                        
<script type="text/javascript" src="//vk.com/js/api/openapi.js?120"></script>


<!-- VK Widget -->
<div id="vk_groups"></div>
<script type="text/javascript">
VK.Widgets.Group("vk_groups", {mode: 0, width: "540", height: "300", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 97689143);
</script>



                        
                    </div>
                </div>
