{% load endless %}

{% paginate news_list %}
{% for news in news_list %}                
                    <div class="news-block">
                        <a class="news-pic" href="/"><img src="{{ MEDIA_URL }}{{ news.image }}" width="160" height="160" alt=""/></a>
                        <div>
                            <h3 class="title-news">
                                <a href="{{ news.get_absolute_url }}">{{ news.title }}</a>
                            </h3>
                            <ul class="list-news">
                                <li>{{ news.created }}</li>
                                <li><a href="{% url 'news-category' news.category.slug %}">{{ news.category }}</a></li>
                            </ul>
                        </div>
                    </div>
{% endfor %}
{% show_more "Показать еще" %}