{% extends "base.html" %}
{% load slider %}
{% load staticfiles %}
{% load ticker %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
{% load event_tags %}
           <h3 class="marquee">
                <span>{% show_ticker %}</span>
            </h3>
            <div class="over">
                {% show_event_tags %}
                <div class="left-block">
                    {% show_slider %}
                    <h3 class="title">Новости</h3>
					{% for news in news_list %}                
		                    <div class="news-block">
		                        <a class="news-pic" href="/"><img src="{{ MEDIA_URL }}{{ news.image }}" width="160" height="160" alt=""/></a>
		                        <div>
		                            <h3 class="title-news">
		                                <a href="{{ news.get_absolute_url }}">{{ news.title }}</a>
		                            </h3>
		                            <ul class="list-news">
		                                <li>{{ news.created }}</li>
		                                <li><a href="{% url 'news-category' news.category.slug %}">{{ news.category }}</a></li>
		                            </ul>
		                        </div>
		                    </div>
					{% endfor %}


					<ul class="pager">
				    {% if news_list.has_previous or news_list.has_next %}
						{% if news_list.has_previous %}
						    <li><a class="btn btn-default" href="?page={{ news_list.previous_page_number }}" role="button">Назад</a></li>
						{% endif %}
						<li>Страница {{ news_list.number }} из {{ news_list.paginator.num_pages }}</li>
						{% if news_list.has_next %}
						<li><a class="btn btn-default" href="?page={{ news_list.next_page_number }}" role="button">Вперед</a></li>
						{% endif %}
					{% endif %}
					</ul>

                </div>
            </div>
        </div> 

{% endblock %}